body {
    background-color: #292724;
    color: #e0d8d1;
    padding: 20% 20%;
    line-height: 1.6;
    font-size: 18px;
  }
p {
    padding: 2%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}